In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("datasets/ecom.csv")

In [3]:
df.head()

,Date,ProductName,ProductCategory,ProductSubCategory,ProductPrice,CustomerName,CustomerEmail,CustomerAddress,CustomerPhone,CustomerSegment,...,SupplierContact,ShipperName,ShippingMethod,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
0,2023-09-14,Nathaniel,Electronics,Camera,0.01,Colleen Kelly,maryhurst@example.org,"354 Mcdowell Turnpike, Port Charles, CT 95318",908.610.2711x8507,Silver,...,6538306661,and Sons,Ground,49,31965.15,121.07,31844.08,475,127,348
1,2023-02-11,NonExistentProduct,Electronics,Mobile,847.43,Joel Wright,sandersvictoria@example.org,"24740 Fox Villages, New Tracie, MA 53038",+1-408-938-0389x952,Gold,...,NaN,PLC,Air,73,61862.39,91.09,61771.30,487,243,244
2,2021-11-12,Angela,InvalidCategory,Action Figures,386.57,Thomas Sawyer,ospence@example.net,"769 Joe Trail, East Terri, CA 43813",001-929-516-1919x39288,Gold,...,+1-588-750-7646,PLC,Sea,89,34404.73,10.56,34394.17,341,188,153
3,11-15-2021,Amy,Home & Garden,Decor,364.01,Tyler Gardner,christopherjohnson@example.com,"27783 Olivia Centers, Williamsmouth, AL 09809",8907712983,Gold,...,805-650-6257x5876,LLC,Air,3,1092.03,69.06,1022.97,500,124,376
4,2023-04-22,Nathaniel,Electronics,Camera,652.35,Meagan Peterson,epowell@example.net,"25357 Blackwell Locks, Andreabury, MH 27857",9999921886,Gold,...,6538306661,Ltd,Sea,75,48926.25,137.17,48789.08,429,351,78

In [4]:
df.tail()

,Date,ProductName,ProductCategory,ProductSubCategory,ProductPrice,CustomerName,CustomerEmail,CustomerAddress,CustomerPhone,CustomerSegment,...,SupplierContact,ShipperName,ShippingMethod,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
5005,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5006,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5007,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5008,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5009,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5010 entries, 0 to 5009
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                5010 non-null   object
 1   ProductName         5010 non-null   object
 2   ProductCategory     5010 non-null   object
 3   ProductSubCategory  5010 non-null   object
 4   ProductPrice        5010 non-null   object
 5   CustomerName        5010 non-null   object
 6   CustomerEmail       4503 non-null   object
 7   CustomerAddress     5010 non-null   object
 8   CustomerPhone       5010 non-null   object
 9   CustomerSegment     5010 non-null   object
 10  SupplierName        5010 non-null   object
 11  SupplierLocation    5010 non-null   object
 12  SupplierContact     4526 non-null   object
 13  ShipperName         5010 non-null   object
 14  ShippingMethod      5010 non-null   object
 15  QuantitySold        5010 non-null   int64
 16  TotalAmount         5010 non-null   float64
 17  DiscountAmount      5010 non-null   float64
 18  NetAmount           5010 non-null   float64
 19  StockReceived       5010 non-null   int64
 20  StockSold           5010 non-null   int64
 21  StockOnHand         5010 non-null   int64
dtypes: float64(3), int64(4), object(15)
memory usage: 861.2+ KB

diplucate columns
Productprice : type float
date : type date
CustomerEmail &	CustomerAddress & CustomerPhone: crypte
CustomerEmail null : no mail
SupplierContact : no contact

In [6]:
df.describe()

,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
count,5010.000000,5010.000000,5010.000000,5010.000000,5010.000000,5010.000000,5010.000000
mean,50.827146,28851.529621,86.425236,28765.104385,277.074052,139.116966,137.957086
std,28.523303,23139.578225,70.574899,23112.635714,130.330697,111.016370,110.360693
min,1.000000,46.230000,0.010000,33.600000,50.000000,1.000000,0.000000
25%,26.000000,8864.130000,25.685000,8774.435000,164.000000,49.000000,49.000000
50%,50.000000,23546.135000,69.345000,23424.750000,279.000000,109.000000,107.000000
75%,76.000000,42985.950000,129.277500,42886.600000,393.000000,209.000000,206.000000
max,100.000000,99513.000000,298.110000,99276.950000,500.000000,498.000000,490.000000

In [7]:
df.columns

Index(['Date', 'ProductName', 'ProductCategory', 'ProductSubCategory',
       'ProductPrice', 'CustomerName', 'CustomerEmail', 'CustomerAddress',
       'CustomerPhone', 'CustomerSegment', 'SupplierName', 'SupplierLocation',
       'SupplierContact', 'ShipperName', 'ShippingMethod', 'QuantitySold',
       'TotalAmount', 'DiscountAmount', 'NetAmount', 'StockReceived',
       'StockSold', 'StockOnHand'],
      dtype='object')

In [8]:
df.isnull().sum()

Date                    0
ProductName             0
ProductCategory         0
ProductSubCategory      0
ProductPrice            0
CustomerName            0
CustomerEmail         507
CustomerAddress         0
CustomerPhone           0
CustomerSegment         0
SupplierName            0
SupplierLocation        0
SupplierContact       484
ShipperName             0
ShippingMethod          0
QuantitySold            0
TotalAmount             0
DiscountAmount          0
NetAmount               0
StockReceived           0
StockSold               0
StockOnHand             0
dtype: int64

# visualisation

### 1 ere page : description

mesure, filters by page

### 2 eme page : sales

mersure, filters, map

### 3 eme page : inventory

mersure, filters, map

### 4 eme page : desisions

desisions et conclusion

ETL - modelisation - power bi - gantt - presentation plan >>>>>> first 2 days

In [10]:
df["ProductName"].unique()

array(['Nathaniel', 'NonExistentProduct', 'Angela', 'Amy', 'Justin',
       'Shannon', 'Martha', 'Elizabeth', 'Jamie', 'Robert', 'Shawn',
       'Anthony', 'Pamela', 'Fred', 'Wanda', 'Cynthia', 'Marvin', 'Katie',
       'Tammy', 'Michael', 'Kristine'], dtype=object)

In [11]:
df["ProductCategory"].unique()

array(['Electronics', 'InvalidCategory', 'Home & Garden', 'Books',
       'Clothing', 'Toys'], dtype=object)

In [12]:
df["ProductSubCategory"].unique()

array(['Camera', 'Mobile', 'Action Figures', 'Decor', 'Headphones',
       'Gardening Tools', 'Fiction', 'Shirt', 'Academic', 'Educational',
       'Non-fiction', 'Dolls', 'Furniture'], dtype=object)

Nathaniel   = Electronics
Angela  = Toys
Amy  = Home & Garden
Justin = Electronics
Shannon = Home & Garden
Martha  = Books
Elizabeth  = Clothing 
Jamie  = Books
Robert = Electronics
Shawn = Electronics
Anthony = Books
Pamela = Electronics
Fred = Books
Wanda = Toys
Cynthia = Electronics
Marvin  = Clothing
Katie  = Books
Tammy = Home & Garden
Michael = Toys
Kristine = Electronics

In [13]:
df["ShipperName"].unique()

array(['and Sons', 'PLC', 'LLC', 'Ltd', 'Inc', 'Group'], dtype=object)